.bubbles {
  overflow: hidden;
  position: relative; /* Ensure the container is positioned relative */
}

.bubble-container {
  display: flex;
  animation: scroll-bubbles 20s linear infinite;
}

@keyframes scroll-bubbles {
  0% {
      transform: translateX(100%) translateY(0);
  }
  50% {
      transform: translateX(0) translateY(-20px);
  }
  100% {
      transform: translateX(-100%) translateY(0);
  }
}
