@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  @apply overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-normal;
}
p,
span,
* {
  @apply font-body;
}
h1 {
  font-size: 36px;
  line-height: 36px;
}
h2 {
  font-size: 30px;
  line-height: 30px;
}
h3 {
  font-size: 24px;
  line-height: 24px;
}
h4 {
  font-size: 20px;
  line-height: 20px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
}
h6 {
  font-size: 14px;
  line-height: 16px;
}
p {
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 96px;
    line-height: 96px;
  }
  h2 {
    font-size: 48px;
    line-height: 48px;
  }
  h3 {
    font-size: 36px;
    line-height: 36px;
  }
  h4 {
    font-size: 30px;
    line-height: 30px;
  }
  h5 {
    font-size: 24px;
    line-height: 32px;
  }
  h6 {
    font-size: 20px;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 36px;
  }
  h3 {
    font-size: 30px;
    line-height: 30px;
  }
  h4 {
    font-size: 24px;
    line-height: 24px;
  }
  h5 {
    font-size: 20px;
    line-height: 24px;
  }
  h6 {
    font-size: 16px;
    line-height: 20px;
  }
  p {
    font-size: 14px;
    line-height: 16px;
  }
}

body {
  background-image: url("../public/dtbg.svg");
  background-repeat: repeat-y;
  background-size: 105%;
}

@media (max-width: 768px) {
  body {
    background-image: url("../public/mbbg.svg");
  }
}

.card {
  background: linear-gradient(
    147.75deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(10px);
}

.modal-event-content {
  background-image: url("../public/dtbg.svg");
  background-size: cover;
  background-position: center;
}

.newsletterSubmit {
  clip-path: polygon(0 45%, 70% 45%, 70% 25%, 100% 65%, 0 65%);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#32c4f0, #a067ab);
}
::-webkit-scrollbar-thumb {
  background: #fff;
}

.event-card:hover img {
  filter: blur(10px);
  transition: 0.2s;
}
.event-card:hover div {
  display: flex;
}
