@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  @apply overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-normal;
}
p,
span,
* {
  @apply font-body;
}
h1 {
  font-size: 36px;
  line-height: 36px;
}
h2 {
  font-size: 30px;
  line-height: 30px;
}
h3 {
  font-size: 24px;
  line-height: 24px;
}
h4 {
  font-size: 20px;
  line-height: 20px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
}
h6 {
  font-size: 14px;
  line-height: 16px;
}
p {
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 96px;
    line-height: 96px;
  }
  h2 {
    font-size: 48px;
    line-height: 48px;
  }
  h3 {
    font-size: 36px;
    line-height: 36px;
  }
  h4 {
    font-size: 30px;
    line-height: 30px;
  }
  h5 {
    font-size: 24px;
    line-height: 32px;
  }
  h6 {
    font-size: 20px;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 36px;
  }
  h3 {
    font-size: 30px;
    line-height: 30px;
  }
  h4 {
    font-size: 24px;
    line-height: 24px;
  }
  h5 {
    font-size: 20px;
    line-height: 24px;
  }
  h6 {
    font-size: 16px;
    line-height: 20px;
  }
  p {
    font-size: 14px;
    line-height: 16px;
  }
}

body {
  background-image: url("/dtbg.svg");
  background-repeat: repeat-y;
  background-size: 105%;
}

@media (max-width: 768px) {
  body {
    background-image: url("/mbbg.svg");
  }
}

.card {
  background: linear-gradient(
    147.75deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(10px);
}

.modal-event-content {
  background-image: url("/dtbg.svg");
  background-size: cover;
  background-position: center;
}

.newsletterSubmit {
  clip-path: polygon(0 45%, 70% 45%, 70% 25%, 100% 65%, 0 65%);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#32c4f0, #a067ab);
}
::-webkit-scrollbar-thumb {
  background: #fff;
}

.event-card:hover img {
  filter: blur(10px);
  transition: 0.2s;
}
.event-card:hover div {
  display: flex;
}
.partners-container {
  margin: 5rem auto;
  text-align: center;
  color: white;
}

.partners-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.partners-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.partner-card {
  width: 250px; /* Width of the card */
  height: 150px; /* Height of the card */
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.partner-card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Image container to ensure images don't stretch beyond their boundaries */
.image-container {
  width: 100%; /* Same width as the partner card */
  height: 100%; /* Same height as the partner card */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 80%; /* Maximum width of the logo */
  max-height: 80%; /* Maximum height of the logo */
}

@media (max-width: 768px) {
  .partner-card {
    width: calc(50% - 1rem); /* Two cards per row on smaller screens */
  }
}
